---
layout: default
title: Home
---

<style>
.postContainer {
  padding-bottom: 5%;
}
</style>


<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
      {% comment %}
    {% for post in site.posts limit:20 %}
      <div class="postContainer">
        <h5>{{ post.date | date_to_long_string }}</h5>
        <p>
            {{post.content}}
        </p>
      </div>
    {% endfor %}
    {% endcomment %}

    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    <div class="postContainer">
        <h5>{{ post.date | date_to_long_string }}</h5>
        <p>
            {{post.content}}
        </p>
      </div>
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">
        Previous
      </a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
    </div>
  </body>
</html>
