<style>
.navigation {
  font-size: 20px;
  padding-top: 5%;
}

.author {
  padding-bottom: 20%;
}

  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

/* This stuff is for the highlight box */
li a {
  display: block;
  width: 85px;
  color: #000000;
  padding-bottom: 5%;
  text-decoration:none;
}

/*this is the highlight box colour*/
a:hover {
  background-color: #606870;
}
</style>

<div class="navigation">
  <p class="author">By David Murakami</p>
<!-- this is where to add extra pages on the index -->
  <ul>
    <li><a href="/thehonourroll/">Home</a></li>
    <li><a href="/thehonourroll/about.html">About</a></li>
    <li><a href="/thehonourroll/ta_material.html">Resources</a></li>
  {% for post in site.posts %}
      <a href="/thehonourroll/{{ post.url }}">{{ post.title }}</a>
  {% endfor %}
  </ul>
</div>
